<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.claudicle.ui</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>set -a &amp;&amp; . "{{ENV_FILE}}" &amp;&amp; exec "{{NODE_PATH}}" "{{SERVER_JS}}"</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{LOGS_DIR}}/com.claudicle.ui.out.log</string>
  <key>StandardErrorPath</key>
  <string>{{LOGS_DIR}}/com.claudicle.ui.err.log</string>
</dict>
</plist>
